<%-include('header');-%>
<div style="padding: 10%;">
<h1>compose</h1>
<form action="/" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">blog title</label>
      <input type="text" class="form-control" name="blogtitle" aria-describedby="emailHelp" placeholder="enter title">
      <label for="blogcontent">blog</label>
      <textarea name="blogcontent" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   
  </form>
</div>










<%-include('footer');-%>